<section class="bg-white dark:bg-gray-800">
    <div
      class="max-w-full px-4 py-8 mx-auto space-y-12 lg:space-y-20 lg:py-24 lg:px-6 xl:mx-48"
    >
      <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
        <div class="text-gray-500 sm:text-lg dark:text-gray-400 listitems">
          <h2
            class="text-3xl font-extrabold tracking-tight dark:text-white text-blue-1000"
            style="font-size: 38px; line-height: 120%"
          >
            Duis eleifend nisi in ante accumsan interdum.
          </h2>
          <p
            class="font-light lg:text-xl text-black"
            style="font-size: 16px; line-height: 28px"
          >
            Integer consequat rutrum ante ut tincidunt. Sed a arcu id mi convallis
            accumsan nec nec nisi. Nulla ut imperdiet leo, ut efficitur nisl. Nam
            efficitur turpis vitae viverra pellentesque. Aliquam erat volutpat.
          </p>
          <p
            class="text-blue-1000"
            style="
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 28px;
            "
          >
            Phasellus a ante et metus dignissim mattis!
          </p>
          <!-- List -->
          <ul
            role="list"
            class="space-y-5 border-t border-gray-200 my-7 dark:border-gray-700"
          >
            <li class="flex space-x-3 items-center">
              <div class="flex" style="width: 447px">
                <span
                  class="bg-transparent inline-flex items-center px-3 text-sm text-gray-900 border border-r-0 border-gray-300 rounded-l-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="20"
                    viewBox="0 0 16 20"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M7.8889 10.6188H7.92089C10.8489 10.6188 13.2299 8.23776 13.2299 5.30976C13.2299 2.38176 10.8489 -0.000244141 7.92089 -0.000244141C4.99189 -0.000244141 2.60989 2.38176 2.60989 5.30676C2.59989 8.22676 4.9669 10.6098 7.8889 10.6188ZM4.03789 5.30976C4.03789 3.16876 5.77989 1.42776 7.92089 1.42776C10.0609 1.42776 11.8019 3.16876 11.8019 5.30976C11.8019 7.44976 10.0609 9.19176 7.92089 9.19176H7.89189C5.75989 9.18376 4.03089 7.44376 4.03789 5.30976Z"
                      fill="#2D9CDB"
                    />
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M-0.00012207 16.1731C-0.00012207 19.8701 5.96188 19.8701 7.92088 19.8701C11.3199 19.8701 15.8399 19.4891 15.8399 16.1931C15.8399 12.4961 9.87988 12.4961 7.92088 12.4961C4.52088 12.4961 -0.00012207 12.8771 -0.00012207 16.1731ZM1.49988 16.1731C1.49988 14.7281 3.65988 13.9961 7.92088 13.9961C12.1809 13.9961 14.3399 14.7351 14.3399 16.1931C14.3399 17.6381 12.1809 18.3701 7.92088 18.3701C3.65988 18.3701 1.49988 17.6311 1.49988 16.1731Z"
                      fill="#2D9CDB"
                    />
                  </svg>
                </span>
                <input
                  type="text"
                  id="website-admin"
                  class="rounded-none rounded-r-lg bg-gray-50 border text-black focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 inputfield"
                  placeholder="Full Name
              "
                />
              </div>
            </li>
            <li class="flex space-x-3 items-center">
              <div class="flex" style="width: 447px">
                <span
                  class="bg-transparent inline-flex items-center px-3 text-sm text-gray-900 border border-r-0 border-gray-300 rounded-l-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <mask
                      id="mask0_191_5"
                      style="mask-type: luminance"
                      maskUnits="userSpaceOnUse"
                      x="0"
                      y="0"
                      width="20"
                      height="20"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M0 0.000427246H19.499V19.4994H0V0.000427246Z"
                        fill="white"
                      />
                    </mask>
                    <g mask="url(#mask0_191_5)">
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M8.80488 11.8178L12.4619 17.7508C12.6219 18.0108 12.8719 18.0078 12.9729 17.9938C13.0739 17.9798 13.3169 17.9178 13.4049 17.6228L17.9779 2.17783C18.0579 1.90483 17.9109 1.71883 17.8449 1.65283C17.7809 1.58683 17.5979 1.44583 17.3329 1.52083L1.87688 6.04683C1.58388 6.13283 1.51988 6.37883 1.50588 6.47983C1.49188 6.58283 1.48788 6.83783 1.74688 7.00083L7.74788 10.7538L13.0499 5.39583C13.3409 5.10183 13.8159 5.09883 14.1109 5.38983C14.4059 5.68083 14.4079 6.15683 14.1169 6.45083L8.80488 11.8178ZM12.8949 19.4998C12.1989 19.4998 11.5609 19.1458 11.1849 18.5378L7.30788 12.2468L0.951884 8.27183C0.266884 7.84283 -0.0911161 7.07883 0.0198839 6.27583C0.129884 5.47283 0.680884 4.83483 1.45488 4.60783L16.9109 0.0818327C17.6219 -0.126167 18.3839 0.0708326 18.9079 0.592833C19.4319 1.11983 19.6269 1.88983 19.4149 2.60383L14.8419 18.0478C14.6129 18.8248 13.9729 19.3738 13.1719 19.4808C13.0779 19.4928 12.9869 19.4998 12.8949 19.4998Z"
                        fill="#2D9CDB"
                      />
                    </g>
                  </svg>
                </span>
                <input
                  type="text"
                  id="website-admin"
                  class="rounded-none rounded-r-lg bg-gray-50 border text-gray focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 inputfield"
                  placeholder="Email Address
    "
                />
              </div>
            </li>
            <a
              href=""
              class="inline-flex items-center justify-center w-full px-5 py-3 text-sm font-medium text-center text-white border bg-blue-1000 rounded-3xl sm:w-auto subscribe-btn"
            >
              Subscribe
              <img
                src="/img/arrow-right.svg"
                class="arrowright"
                alt="Flowbite Logo"
              />
            </a>
          </ul>
        </div>
        <div class="hidden" style="display: flex; position: relative">
          <div style="display: flex; align-items: end">
            <img
              class="w-full mb-4 rounded-lg lg:mb-0 lg:flex"
              src="./img/imageavatar-preview.png"
              alt="dashboard feature image"
              style="width: 415px; position: absolute"
            />
  
            <div class="avatar-background"></div>
          </div>
          <div class="card-item p-5">
            <ul class="text-start">
              <li class="font-bold" style="font-size: 16px">Our Numbers</li>
              <li class="flex items-baseline text-orange-1000" style="gap: 8px">
                <h1 class="card-numbers">20k</h1>
                <span class="card-text">Users</span>
              </li>
              <li class="flex items-baseline text-orange-1000" style="gap: 8px">
                <h1 class="card-numbers">30</h1>
                <span class="card-text">Clients</span>
              </li>
              <li class="flex items-baseline text-orange-1000" style="gap: 8px">
                <h1 class="card-numbers">150+</h1>
                <span class="card-text">App downloads</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End block -->
  <!-- Start block -->